<div class="form-group row">

  <% if @reports.empty? %>
    <h1>Não há relatórios cadastrados!</h1>
  <% end %>

  <% @reports.each do |report| %>
    <div class="col-3">
      <%= card_report report %>
    </div>
  <% end %>
</div>
